.face-lockup {
  justify-content: center;
}

.section-welcome {
  padding-top: 50px;
}

.section-contact,
.section-reflect {
  padding-bottom: 100px;
}

.long-blurb {
  max-width: 620px;
  padding: 0 20px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 300;
}

h5 {
  font-size: 1em;
}
