{{ "<!-- Footer section -->" | safeHTML }}
<footer id="footer">
    <div class="lockup">
        <div class="content-wrap">
            <nav>
                {{ with .Site.Params.about.title }}<a href="#about-me">{{ . }}</a>{{ end }}
                {{ with .Site.Data.work.title }}<a href="#work">{{ . }}</a>{{ end }}
                {{ with .Site.Data.reflect.title }}<a href="#reflect">{{ . }}</a>{{ end }}
                {{ with .Site.Params.contact.title }}<a href="#contact">{{ . }}</a>{{ end }}
            </nav>
            <p class="copyright">{{ with .Site.Params.footer.copyright }}{{ . }}{{ else }}All content copyright {{.Now.Format "2006"}} {{ end }}</p>
        </div>
    </div>
</footer>
