{{ "<!-- Header section -->" | safeHTML }}
<header id="header">
    <nav>
        {{ with .Site.Params.about.title }}<a href="#about-me">{{ . }}</a>{{ end }}
        {{ with .Site.Data.work.title }}<a href="#work">{{ . }}</a>{{ end }}
        {{ with .Site.Data.reflect.title }}<a href="#reflect">{{ . }}</a>{{ end }}
        {{ with .Site.Params.contact.title }}<a href="#contact">{{ . }}</a>{{ end }}
    </nav>
    {{ with .Site.Params.header.title }}<h1><span>{{ . }}</span></h1>{{ end }}
    {{ with .Site.Params.header.shortBio }}<p class="kicker">{{ . }}</p>{{ end }}
</header>
