{{ "<!-- Reflection section -->" | safeHTML }}
<section class="section-reflect">
  {{ with .Site.Data.reflect }}
  <h3 id="reflect">{{ .title }}</h3>
  <div class="long-blurb">
    {{ .text | markdownify }}
  </div>
  {{ end }}
</section>
