{{ "<!-- Welcome section -->" | safeHTML }}
<section class="alt-section section-welcome">
  {{ with .Site.Params.welcome.text }}
  <div class="blurb">
    <p>{{ . | markdownify }}</p>
  </div>
  {{ end }}
</section>
