<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body>

		{{ partial "header.html"  . }}
    {{ partial "welcome.html" . }}
		{{ partial "about.html"   . }}
		{{ partial "work.html"    . }}
    {{ partial "reflect.html" . }}
		<!--{{ partial "clients.html" . }}-->
		{{ partial "contact.html" . }}
		<!--{{ partial "form.html"    . }}-->
		{{ partial "footer.html"  . }}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="{{ .Site.BaseURL }}js/functions.js"></script>
	</body>
</html>
